@import url("common.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

body {
    font-size: 17px;
    font-family: "Noto Sans KR", sans-serif;
}

/* header style */
header {
    border: 2px solid black;
    display: flex;
    padding: 20px 50px;
    width: 100%;
    align-items: center;
    font-weight: 700;
    top: 0;
}

header .title-img {
    /*border: 2px solid blue;*/
    overflow: hidden;
    flex: 1;
}

header .title-img .title-logo {
    height: 60px;
}

header .title {
    /*border: 2px solid orange;*/
    flex: 2;
}

header .menu {
    border: 2px solid red;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

header .menu .title-menu {
    border: 2px solid green;
    flex: 2;
    text-align: right;
    padding-right: 10px;
}

header .menu .menu-icon {
    border: 2px solid pink;
    flex: 1;
}